{{ partial "header.html" . }}

<section id=content>
  <ul class=posts_listing>
    {{ range .Data.Pages.ByPublishDate.Reverse }}
    <br/>
      <li>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div id=date>
          <time>{{ .Date.Format (.Site.Params.dateform | default "January 2006") }}</time>
        </div>
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
          <a href="{{ .RelPermalink }}">(read more…)</a>
        </div>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
